### ONLY REQUIRED IF NOT LINKING WITH ANOTHER DOCKER CONTAINER OR OVERRIDING
# REDIS_HOST=redis.example.com
# REDIS_PORT=6379
# REDIS_DB=0

### OPTIONAL AUTHENTICATION
# REDIS_USERNAME=myuser
# REDIS_PASSWORD=mypassword

### DOMAIN THAT WE ARE HOSTING (REQUIRED)
DOMAIN=example.com

### ADMIN EMAIL FOR DOMAIN (OPTIONAL)
# DOMAIN_EMAIL=admin@example.com

### DNS SERVER HOSTNAME (OPTIONAL - DEFAULTS TO SYSTEM HOSTNAME)
# HOSTNAME=example.com
